body {
  background-color: #1c1c24; /* Замените этот цвет на любой, который вам нравится */
  background-image: url('../images/fone'); /* Замените 'path/to/your/image.jpg' на путь к вашему изображению */
  background-size: cover; /* Изображение будет покрывать весь фон */
  background-repeat: no-repeat; /* Изображение не будет повторяться */
  background-position: center; /* Изображение будет центрировано */
}
